body{
    text-align: center;
    background-image: url('../bg_mono.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: #305E70;
    font-size: 80px;
    margin-top: 30px;
}

.content {
    background-color: rgba(225,225,246,0.6);
    font-size: 20px;
    width: 70%;
    margin: auto;
    padding: 15px;
}

img {
    width: 200px;
}

.menu {
    max-width: 100%;
    height: auto;
}